{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class='features'>
    <h1>{{ title }}</h1>
    <p>Uuuuups:( The site is still under development, check back for updates.</p>
    <button class="btn btn-warning">На страницу про нас</button>

<!--    Отдельный вывод каждого из элементов списка-->
<!--    {% for el in values %}-->
<!--        <p>{{ el }}</p>-->
<!--    {% endfor %}-->

<!--    {% for el in obj %}-->
<!--        <p>{{ el }}</p>-->
<!--    {% endfor %}-->
</div>
{% endblock %}